<main>
  <h1>Browser</h1>
  <form action="/products" method="GET">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
    <input type="submit" value="search">
  </form>
  {{#if products}}
  {{#each products}}
  {{>cube}}
  {{/each}}
  {{else}}
  <img id="sadFaceImg" src="https://www.pngitem.com/pimgs/m/106-1069282_no-product-no-product-found-hd-png-download.png"
    alt="No Products Found"/>
  {{/if}}
</main>